In [1]:
%load_ext autoreload
%autoreload 2
%autosave 60

Autosaving every 60 seconds

In [2]:
import os

os.chdir('/usr/src/app')
os.getcwd()

'/usr/src/app'

In [3]:
from app.shared.utils import temp_folder, download_file

In [6]:
import pandas as pd

dataset = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'

with temp_folder() as folder:
    file = f"{folder}/dataset.xls"
    download_file(dataset, file)
    df = pd.read_excel(file)

In [8]:
df.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,31 Jul-2023,2023.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,22,...,NaN,"Fox35, 7/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30 Jul-2023,2023.0,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",NaN,male,M,22,...,NaN,"R. Babington, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24 Jul-2023,2023.0,Unprovoked,Australia,Western Australia,Gnarabup Beach,Surfing,Jack Frost,M,20s,...,Wfite shark,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22 Jul-2023,2023.0,Unprovoked,Australia,Western Australia,Yallingup Lagoon,Snorkeling,Richard Stubbs,M,77,...,Wobbegong shark,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21 Jul-2023,2023.0,Unprovoked,USA,South Carolina,"Sea Pines Beach, Hilton Head Island, Beaufort ...",Wading,male,M,60,...,NaN,"C. Creswell, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN